$unit: 12px;

* {
  box-sizing: border-box;
}

body {
  padding: calc($unit * 2);
  color: white;
  background-color: teal;
}

.main-wrapper {
  width: 1280px;
  height: 60vh;
  max-width: 100%;
  margin: 0 auto;
}

.output-field {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $unit;
  background-color: white;

  > span {
    padding: calc($unit / 2);
    color: #333;

    &:first-child {
      margin-top: auto;
    }

    &:last-child {
      font-size: 18px;
      color: #000;
    }
  }
}

.input-field {
  width: 100%;
  margin-top: calc($unit * 2);
  padding: $unit;
}
